.brd{
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-left: 0.5px solid black;
	border-right: 1px solid black;
}
.brddos{
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 0.5px solid black;
}